%p= "Dear #{t('app_title')},"
%p= t('.ask1')

%dl
    %dt= t('.name1')
    %dd= @name
    %dt= t('.email1')
    %dd= @email
    %dt= t('.telephone')
    %dd= @telephone

%p= @message

%p= t('.ty')
%p= @name